{% extends 'auth_base.html' %}

{% block title %}
Doctor Registration
{% endblock %}

{% block content %}

<div class="auth-card">

    <div class="logo">
        <i class="fas fa-user-doctor"></i>
    </div>

    <h2 class="text-center auth-title">
        Doctor Registration
    </h2>

    <p class="text-center text-muted mb-4">
        Join City Hospital as a Doctor
    </p>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-3">

            <label class="form-label">

                Username

            </label>

            {{ form.username }}

        </div>

        <div class="row">

            <div class="col-md-6 mb-3">

                <label class="form-label">

                    First Name

                </label>

                {{ form.first_name }}

            </div>

            <div class="col-md-6 mb-3">

                <label class="form-label">

                    Last Name

                </label>

                {{ form.last_name }}

            </div>

        </div>

        <div class="mb-3">

            <label class="form-label">

                Email

            </label>

            {{ form.email }}

        </div>

        <div class="mb-3">

            <label class="form-label">

                Password

            </label>

            {{ form.password1 }}

        </div>

        <div class="mb-4">

            <label class="form-label">

                Confirm Password

            </label>

            {{ form.password2 }}

        </div>

        <button class="btn btn-success btn-auth w-100">

            <i class="fas fa-user-doctor"></i>

            Register Doctor

        </button>

    </form>

    <hr>

    <div class="text-center">

        <span class="text-muted">

            Already have an account?

        </span>

        <br><br>

        <a href="{% url 'login' %}"
           class="btn btn-outline-success">

            Login

        </a>

    </div>

</div>

{% endblock %}